<h1 id="sept-5">Sept 5</h1>
<h2 id="introduction-syllabus">Introduction &amp; Syllabus</h2>
<ul>
<li><p>Expected to know basic physics, math, biochem, <em>etc</em></p></li>
<li><p>In addition to bioenergetics, will teach a little history</p></li>
<li><p>Course looks mostly at cellular and subcelluar levels</p></li>
</ul>
<h2 id="bioenergetics-overview">Bioenergetics Overview</h2>
<ul>
<li><p>Deals with cell level and down to organic chemistry level</p></li>
<li>Takes holistic approach
<ul>
<li>Looks at physics, chemistry, and biology <br></br></li>
</ul></li>
<li>Szent-Gyorgyi coined term &quot;Bioenergetics&quot;
<ul>
<li>Nobel Prize in 1931</li>
<li>Original work now deprecated, but formulated important questions <br></br></li>
</ul></li>
<li>ATP is to membrane bioenergetics as DNA is to molecular biology
<ul>
<li>Mitchell is to bioenergetics as Watson &amp; Crick were to molecular biology <br></br></li>
</ul></li>
<li>Future directions:
<ul>
<li>New drugs</li>
<li>Molecular robotics</li>
</ul></li>
</ul>
<h2 id="cellular-energy-flow">Cellular Energy Flow</h2>
<ul>
<li>Look at <strong>flow of information</strong> as well as <strong>flow of energy</strong>
<ul>
<li>Most important molecules are ATP and nucleic acids</li>
<li>Relatively young concepts <br></br></li>
</ul></li>
<li>ATP as universal energy currency only described in 1941 (Lipmann)
<ul>
<li>ATP does work in hydrolysis to ADP + Pi</li>
<li>&quot;~P&quot; is shorthand for high energy phosphate bond</li>
<li>Energy absorbed in condensation and phosphorylation back to ATP</li>
<li>Cyclical <br></br></li>
</ul></li>
<li>Mitchell created <em>concept</em> of <strong>chemiosmotic theory</strong>
<ul>
<li>Perhaps only Nobel awarded for an idea rather than experiment (1978) <br></br></li>
</ul></li>
<li>ATP hydrolysis is central concept of chemiosmotic theory
<ul>
<li>Works by creating proton asymetric distribution of protons across a membrane</li>
</ul></li>
</ul>
<h2 id="role-of-atp">Role of ATP</h2>
<ul>
<li>ATP + GDP &lt;--&gt; ADP + GTP
<ul>
<li>Isoenergetic process <br></br></li>
</ul></li>
<li>Three ways to replenish ATP; all are based on REDOX reactions:
<ul>
<li>Substrate phosphorylation
<ul>
<li>Glucose + 2 ADP --&gt; Lactate + 2 ATP</li>
</ul></li>
<li>Photosynthesis
<ul>
<li><em>hv</em> provides energy to condense ADP + Pi</li>
</ul></li>
<li>Respiration
<ul>
<li>Aerobic --&gt; O2 into mitochondrion; CO2 + H2O out of mitochondrion</li>
</ul></li>
</ul></li>
<li><p>ATP is not the only energy currency</p></li>
<li><p>At pH of 7.0, ATP is an acid</p></li>
</ul>
<h2 id="other-important-high-energy-compounds">Other Important High Energy Compounds</h2>
<ul>
<li><p>PEP + ADP --&gt; Pyruvate + ATP</p></li>
<li><p>Creatine phosphate + ADP &lt;- (creatine kinase) -&gt; Creatine + ATP</p></li>
<li><p>Glycerol + ATP -(glycerol kinase)-&gt; Glycerol 3-phosphate + ADP</p></li>
<li><p><em>Through ATP</em>, these are interconvertable</p></li>
<li><p>Have high phosphate transfer potential (PTP)</p></li>
</ul>
<h2 id="structure-of-atp">Structure of ATP</h2>
<ul>
<li><p>When discussing ATP, alpha, beta, gamma used to describe phosphate based on proximity to carbon group</p></li>
<li><p>Forms pyramid shape</p></li>
<li><p>No resonance structure</p></li>
</ul>
<h1 id="sept-10">Sept 10</h1>
<h2 id="structure-of-atp-cont">Structure of ATP Con't</h2>
<ul>
<li>ADP has better resonance stabilization
<ul>
<li>Electrons are delocalized</li>
<li>More stable than ATP <br></br></li>
</ul></li>
<li>Why isn't a polyphosphate of length <em>n</em> a good energy currency?
<ul>
<li>ATP is a nucleotide, and already available</li>
<li>Common co-enzyme</li>
<li>Adenosine is more resistant to Ultraviolet irradiation than other bases</li>
</ul></li>
</ul>
<h2 id="membrane-bioenergetics">Membrane Bioenergetics</h2>
<ul>
<li><p>Transduction of energy from external sources (food, light) into useful form</p></li>
<li><p>Use of this energy to perform tasks</p></li>
<li>Deals with specific membrane-linked bioenergetic systems where <strong>vectorial biochemical reactions occur</strong>
<ul>
<li>Here vectorial means trans-membrane reactions <br></br></li>
</ul></li>
<li>Delta-mu-H is name of proton pump which charges membrane
<ul>
<li>Two-part system</li>
<li>One pumps out, one pumps in</li>
</ul></li>
</ul>
<h2 id="coupled-work-performance">Coupled Work Performance</h2>
<ul>
<li><strong>Osmotic work</strong>
<ul>
<li>Uphill transport of metabolites</li>
<li>Can be returned through symporter or antiporter to transport other molecules in or out, respectively <br></br></li>
</ul></li>
<li><strong>Mechanical work</strong>
<ul>
<li><em>e.g.</em> the flagellar motor <br></br></li>
</ul></li>
<li><strong>Chemical work</strong>
<ul>
<li>ATP synthase powered by proton motive force</li>
</ul></li>
</ul>
<h2 id="delta-mu-h-and-the-proton-motive-force">Delta-mu-H and the Proton Motive Force</h2>
<ul>
<li><p>Electric energy of the transmembrane potential difference is known as delta-psi</p></li>
<li><p>Proton concentration difference (delta-pH)</p></li>
<li><p>Delta-mu-H is sum of electric (delta-psi) and osmotic (delta-pH) differences gives total trans-membrane energy</p></li>
</ul>
<pre><code>0 &gt; delta-mu-H = -F(delta-psi) + RT ln([H+]n/[H+]p)(J x mol^-1)

F = Faraday&#39;s Constant
R = Gas constant
T = absolute temperature
[H+]p = molar concentration of H+ on the positive side of the membrane
[H+]n = molar concentration of H+ on the negative side of the membrane</code></pre>
<ul>
<li><p>1 pH unit is roughly equal to 60mV</p></li>
<li><p>Protonic control is done my discharging delta-psi without affecting proton permeability</p></li>
</ul>
<h2 id="valinomycin">Valinomycin</h2>
<ul>
<li><p>Works by disrupting bacterial membrane, causing damage</p></li>
<li><p>Produced by <em>Streptomyces</em></p></li>
<li><p>Prevents protonic control of membrane</p></li>
<li><p>Converts delta-psi into delta-pH</p></li>
</ul>
<h1 id="sept-12">Sept 12</h1>
<h2 id="proton-motive-force">Proton Motive Force</h2>
<ul>
<li>Generated by:
<ul>
<li>Bacteriorhodopsin</li>
<li>Reverse symport, antiport</li>
<li>Electron transport</li>
<li>Respiration</li>
<li>NADPH degradation <br></br></li>
</ul></li>
<li>Transmembrane proton leak and heat production
<ul>
<li>&quot;Brown fat&quot; responsible for extra heat generation in some mammals</li>
<li>High mitochondria counts
<ul>
<li>oxidative phosphorylation</li>
<li>Produce unusual excess of H+ pumps</li>
<li>Also have membrane protein <strong>thermogenin</strong>
<ul>
<li>UCP-1 protein</li>
<li>Only function is to 'waste' energy
<ul>
<li>Mediates 'downhill' flow of H+ <br></br></li>
</ul></li>
</ul></li>
</ul></li>
</ul></li>
<li>MDMA (amphetamine-derivative)
<ul>
<li>Mostly without side-effects, but acute overdose possible
<ul>
<li>Persistent hyperthermia</li>
<li>Protein misfolding</li>
<li>Muscle failure</li>
<li>Works partially by stimulation of thermogenins</li>
</ul></li>
<li>Knockout mice for UCP-3
<ul>
<li>100% survival in knockouts</li>
<li>Only 70% survived in wild-types</li>
</ul></li>
</ul></li>
</ul>
<h2 id="gibbs-free-energy-g">Gibbs Free Energy (G)</h2>
<ul>
<li><p>Described by JW Gibbs</p></li>
<li><p>Extractable energy available for work</p></li>
<li>Depends only on the state of the system, not how it arrived at that state
<ul>
<li><em>i.e.</em> it is a state function</li>
<li>Each state can be characterized by G</li>
<li>Delta-G can also characterize the states <br></br></li>
</ul></li>
<li><p>If Delta-G &gt; 0, reaction requires external energy input</p></li>
<li><p>If Delta-G &lt; 0, reaction proceeds spontaneously</p></li>
<li><p>If Delta-G = 0, at equilibrium</p></li>
<li><p>Total energy in the system is sum of partial energies, adjusted to molar ratios</p></li>
<li><p>~G is proportional to ln[A]</p></li>
</ul>
<h1 id="sept-17">Sept 17</h1>
<h2 id="free-energy-and-concentration">Free Energy and Concentration</h2>
<ul>
<li><p>Increase of free energy increases logarithmically with concentration</p></li>
<li>Chemical system
<ul>
<li>Simplest: Reaction of A converting to B</li>
<li>Gamma = [B]/[A]</li>
<li>Equilibrium constant K is the Gamma at which equilibrium is present <br></br></li>
</ul></li>
<li>Delta-G-0 is &quot;Standard Free Energy Change&quot;
<ul>
<li>Dependent upon nothing but the nature of the reaction itself <br></br></li>
</ul></li>
<li>G is at minimum when reaction is at equilibrium
<ul>
<li>Delta-G determines direction of reaction</li>
</ul></li>
</ul>
<pre><code>Solve:
Gamma = [B][C]/[A]

Delta-G-0 = 1.0 kcal/mol
[A] = 5 mM
[B] = 12 mM
[C] = R = 1.987 cal mol-1 K-1
T = 298K</code></pre>
<pre><code>M+N &lt;-&gt; P
K = 0.5
[M] = 0.5 mM
[N] = 0.1 mM
[P] = 25 mM
R = 1.987 cal mol-1 K-1
T = 298K</code></pre>
<h2 id="delta-g-0-of-high-energy-compounds">Delta-G-0 of &quot;High Energy Compounds&quot;</h2>
<ul>
<li>Biochemical reactions take place at pH 7.0
<ul>
<li>Standard conditions for calculations <br></br></li>
</ul></li>
<li>Concentration of H20 is ~ 55 M</li>
</ul>
<h2 id="reduction-oxidation-reactions">Reduction-Oxidation Reactions</h2>
<ul>
<li><p>Of high importance in biology</p></li>
<li>One or two electrons are transferred
<ul>
<li>Often accompanied by transfer of protons <br></br></li>
</ul></li>
<li>Protons and elctrons are called &quot;reducing equivalents&quot;
<ul>
<li>Free electrons do not exist in H20 solutions <br></br></li>
</ul></li>
<li><strong>Eh</strong> is redox potential
<ul>
<li>Proportional to Delta-G</li>
</ul></li>
</ul>
<h1 id="sept-19">Sept 19</h1>
<h2 id="reduction-oxidation-reactions-cont">Reduction-Oxidation Reactions Con't</h2>
<p>Nernst Equation:</p>
<p><code>E = E0 + (2.3RT/nF)lg([ox]/[red])</code> - <em>m</em> and <em>n</em> should always be at unity</p>
<ul>
<li>E0 is standard redox potential
<ul>
<li>E0 = Em (mid-point potential measured at <strong>pH 0</strong>)</li>
</ul></li>
<li><p>nF is number of electrons participating in reaction times Faraday's Constant</p></li>
<li><p>Protons often participate in redox reactions</p></li>
</ul>
<h2 id="examples">Examples</h2>
<p>What is the mid-point potential at pH 8.6?</p>
<ul>
<li>Em,pHx = E0 * (m/n)60x= 0 - 60*(8.6) = -516 mV</li>
</ul>
<p>Em,7 for (Furmate + 2e- + 2H+ --&gt; Succinate) is +30mV. Determine Em at pH 7.5.</p>
<ul>
<li>60 mV per pH, so 0.5 pH is 30. +30 plus -30 is 0 mV. At equilibrium.</li>
</ul>
<h2 id="reduction-oxidation-reactions-cont-1">Reduction-Oxidation Reactions Con't</h2>
<p>D is electron Donor, A is acceptor - D --(n*e-)--&gt; A - If Eh &lt; 0, a pair is a strong electron donor - Of Eh &gt; 0, pair is strong acceptor Delta Eh = (Eh of acceptor - Eh of donor) &gt; 0</p>
<p>Delta-G = -nF*Delta-Eh</p>
<p>Overall reaction of respiring cell</p>
<p>NADH + 2H+ + 1/2 O2 --&gt; NAD + H20 - &gt; 1 Volt</p>
<ul>
<li><strong>Maximal</strong> amount of useful work is performed by a system at its equilibrium, when ALL delta-G of exergonic reaction is converted into delta-G of endergonic (energy-consuming) reaction: the highest possible efficiency of energy conversion. TOTAL delta-G of the system must be zero.</li>
</ul>
<h2 id="transmembrane-transport-and-delta-g">Transmembrane Transport and Delta-G</h2>
<ul>
<li>Characterized by the delta-G of the process
<ul>
<li>NB - in biology <em>mu</em> is used in place of G</li>
</ul></li>
</ul>
<h1 id="sept-24">Sept 24</h1>
<h2 id="transfer-of-uncharged-particles-of-a">Transfer of Uncharged Particles of &quot;A&quot;</h2>
<p>Delta~G = Delta~mu = 2.3RTlog([A]2/[A]1)</p>
<h2 id="transfer-of-charged-particles-of-a">Transfer of Charged Particles of &quot;A&quot;</h2>
<p>Delta~G = mF(Psi2-Psi1)</p>
<h2 id="the-big-equation">The Big Equation</h2>
<p>Delta-p = -Delta-mu-H+/F = Delta-psi =- 2.3RT/F * Delta-pH = Delta-psi - 60*Delta-pH (mv)</p>
<ul>
<li>Nerst equation to solve overall direction of particles across a membrane
<ul>
<li>e.g. If electrochemical and concentration gradients conflict <br></br></li>
</ul></li>
<li><p>In general case of charge transfer, construct Eq(11) with Psi1 subtracted from Psi2</p></li>
<li><p>Delta-Eh = -(Psi2-Psi1) &lt;-- Equilibrium of redox</p></li>
<li><p>m*Delta-p = n(Delta-Eh + Delta-Psi)</p></li>
<li>ATP synthesis at equilibrium
<ul>
<li>Delta-Gp = n`F*Delta-p</li>
</ul></li>
</ul>
<h2 id="energetics-of-atp-synthesis-under-equilibrium">Energetics of ATP synthesis under equilibrium</h2>
<ul>
<li>n` is H+/ATP stoichiometry of ATP synthase
<ul>
<li>n` = Delta-Gp/F*Delta-p</li>
</ul></li>
</ul>
<pre><code>Example:

Calculate n` under equilibrium conditions.

Equilibrium = (Delta-G = 0)
Delta-p = 200 mV
Delta-Gp = 7.3 kcal/mol
[ADP] = 0.1 mM
[Pi] = 10 mM
[ATP] = 10 mM
Faraday Constant = 23.04 kcal / (Volt * mol)
2.3RT = 1.36 kcal/mol

n` = Delta-Gp/F*Delta-p

Phosphorylation potential **for ATP synthesis** Delta-Gp is:

Delta-Gp = Delta-Gp0/ +2.3RTlog([ATP]/[ADP][Pi])
= 7.3 + 1.36 * log(10-2/(10-4*10-2))
= 7.3_+ 1.36 * 4
= 12.74 kcal/mol

Therefore:

n` = 12.74/(23.04 * 0.2)
= 12.74/4.608
= 2.765 ~= 3H+/ATP </code></pre>
<ul>
<li>Obtained value for [ATP]/[ADP][Pi] is actually realistic
<ul>
<li>Made in suspensions of mitochondria</li>
<li>Shows that
<ul>
<li>Adenine nucleotide pool is living system exists in the form of ATP, not ADP</li>
<li>Actual H+/ATP of ATP synthase is &gt;3</li>
<li>Energy transducing membrane actually operates very close to equilibrium <br></br></li>
</ul></li>
</ul></li>
<li>Nernst equation shows Nerst potential
<ul>
<li>Delta-psi = ((2.3RT)/(mF))*log[X<sup>m]Neg/[X</sup>m]Pos</li>
</ul></li>
</ul>
<h1 id="sept-26">Sept 26</h1>
<h2 id="transmembrane-equilibrium-of-ions">Transmembrane Equilibrium of Ions</h2>
<p>```` Example 1:</p>
<p>Delta-psi (psip-psiv) = 130 mV is maintained in the presence of K+ and valinomycin. If [K+]p = 5 mV, what is [K+]n at equilibrium?</p>
<p>Assume 2.3RT/F = 60 mV</p>
<p>Nernst</p>
<p>Delta-psi = ((2.3RT/mF))*log[X<sup>m]n/[X</sup>m]p</p>
<p>130 = 60*log[K+]n/[K+]p</p>
<p>Example 2:</p>
<p>Accumulation of penetrating cation could be used to measure delta-psi on the membrane. Isotope of Rb-86+ in combination with valinomycin is often used in place fo K+.</p>
<p>What is Delta-psi (&quot;+&quot; ourside cell) on the bacterial membrane, if at equilibrium external [Rb-86+] is 0.3 mM and internal [Rb-86] is 230 mV? Assume 2.3RT/F is 60 mV.</p>
<p>Delta-psi = (2.3RT/F) log [Rb-86]i/[Rb-86]o = 60 * log(230/0.3) = 132 mV ```</p>
<ul>
<li>Anion of weak acid will accumulate in the alkaline compartment</li>
<li><p>Cation of weak base will accumulate in acidic compartment</p></li>
<li>External acid will 'titrate' internal alkali</li>
<li><p>External alkali will 'titrate' internal acid</p></li>
</ul>
<h2 id="diffusion-potentials">Diffusion Potentials</h2>
<ul>
<li>Donnan potential
<ul>
<li>Very stable</li>
</ul></li>
<li>Surface potential
<ul>
<li>Rest of compartment has all the same potential</li>
<li>At exact interface between membrane and water, potential is substatially lower</li>
<li>Phospholipids mess with charge
<ul>
<li>Heads produce additional negative charge</li>
</ul></li>
</ul></li>
</ul>
<h1 id="oct-3">Oct 3</h1>
<ul>
<li>Gramicidin A is a channel-former
<ul>
<li>Aqueous pore</li>
<li>Allows Li+, K+, and Na+ through</li>
<li>Polysporin is a mixture of Gramicidin A,B,C</li>
</ul></li>
<li>Valinomycin
<ul>
<li>Carbonyl groups are essential to binding metal ions</li>
<li>Isopropyl and methyl groups are important for solubility</li>
</ul>
-</li>
<li><p>Ionophores; Mobile Ion Carriers (Membrano-Active Complexones)</p></li>
<li>Alternated double and single bonds (as in benzene)
<ul>
<li>Delocalized bonds</li>
<li>Conjugated</li>
<li>Can be cyclic, acyclic, or linear</li>
</ul></li>
<li><p>In presence of an uncoupler, delta-p = 0</p></li>
<li>Artificial antiporters
<ul>
<li>Nigericin
<ul>
<li>Coordinates K+ with 6 oxygen bonds</li>
<li>Works like a bracelet</li>
</ul></li>
<li>Monensin
<ul>
<li>Similar to Nigericin, except using Na+</li>
</ul></li>
</ul></li>
<li>Liposomes
<ul>
<li>Artificial lipid vesicle with no proteins incorporated</li>
</ul></li>
<li>Reconstitution
<ul>
<li>Incorporation of <em>purified</em> protein into liposome</li>
<li>Most refined experimental system in membrane bioenergetics</li>
</ul></li>
<li>Detergents
<ul>
<li>Lipid-like molecule comprised of hydrophobic tail and hydrophilic head</li>
</ul></li>
<li>Three Standard Steps
<ul>
<li>Solubilization
<ul>
<li>Add appropriate detergent at appropriate concentration</li>
</ul></li>
<li>Purification
<ul>
<li>Target protein is purified by chromatography</li>
</ul></li>
<li>Reconstitution
<ul>
<li>Restore the transport activity</li>
<li>Removal of detergent by dialysis
<ul>
<li>If [detergent] is above <strong>C</strong>ritical <strong>M</strong>icelle <strong>C</strong>oncentration, micelles form instead of vesicles</li>
</ul></li>
<li>Formation of vesicles</li>
</ul></li>
</ul></li>
</ul>
<h1 id="oct-8">Oct 8</h1>
<ul>
<li>Complex I is very similar across biology
<ul>
<li>Conserved from E. coli to Yeast to Humans</li>
<li>Bacterial Complex I is regarded as a simplified version of mitochondrial Complex I</li>
</ul></li>
<li>Fe<sub>n</sub>S<sub>n</sub> salts all have same redox potential
<ul>
<li>Single electron</li>
</ul></li>
<li>N2 is last Fe<sub>n</sub>S<sub>n</sub>
<ul>
<li>Feeds NuoH and Q10</li>
<li>LAst of 8 similar centres</li>
</ul></li>
<li>FMN is first member of electron transfer relay</li>
</ul>
<pre><code>When flavin oxidizes NAD,
Postdoctoral fellow shouts &quot;Vivat!&quot;

If such oxidation isn&#39;t there,
the postdoc madly pulls his hair</code></pre>
<ul>
<li><p>Quinones are small molecules acting as two-electron carriers</p></li>
<li>Partially reduced quinones (SQ- and SQH-) are very dangerous
<ul>
<li>Immediately generate superoxide radicals</li>
</ul></li>
<li><p>HL Helix joins NuoL to NuoH</p></li>
</ul>
<h1 id="oct-10">Oct 10</h1>
<ul>
<li><p>Quinone pool is mixture of fully oxidized and fully reduced quinone</p></li>
<li>Complex IV reaction is chemically very inefficient
<ul>
<li>Biologically important because this makes it irreversible</li>
</ul></li>
<li>Cardiolipin
<ul>
<li>Symmetric lipid</li>
<li>20% of all lipids in inner mitochondrial membrane</li>
<li>Very stable</li>
<li>Essential for efficient funtioning of respiratory complexes</li>
<li>Essential for dimerization of subunit III in Complex IV</li>
</ul></li>
</ul>
<h1 id="oct-17">Oct 17</h1>
<p>-</p>
