<h1 id="sept-9">Sept 9</h1>
<h2 id="languages">Languages</h2>
<ul>
<li>Declaration statements
<ul>
<li>Not in Python</li>
<li>Included in Java to improve error safety</li>
</ul></li>
<li><p>Assignments and conditional execution are required for <em>all</em> programming languages</p></li>
<li>Assignment statements
<ul>
<li>Variable on the left, value on the right</li>
<li>in Java, variables must always begin with lower case</li>
</ul></li>
<li>Decision statements
<ul>
<li>Control</li>
<li>Execute some statements if a condition is true</li>
<li>Loops are repeating execution statements</li>
</ul></li>
<li>Use of functions/<strong>methods</strong>/procedures/subroutines
<ul>
<li>Break program into discreet subcomponents</li>
<li>Reusable</li>
<li>A value is returned, or can be void</li>
</ul></li>
<li>Compilation vs interpretation
<ul>
<li>Java is compiled to bytecode, then run by the JVM</li>
<li>Python is interpreted directly from source</li>
</ul></li>
</ul>
<h2 id="java-program-structure">Java Program Structure</h2>
<ul>
<li>Best to use GNU-style braces (braces on own line)</li>
<li>Class name must match file name</li>
<li>Semicolons end statements</li>
</ul>
<p><code>public class HelloWorld {     public static void main(String[] args)     {         System.out.println(&quot;Hello, World!&quot;);     } }</code> Sept 16 =========================</p>
<h2 id="growing-programs">Growing Programs</h2>
<ul>
<li>Always Be Running
<ul>
<li>Re-compile and Run for each block</li>
</ul></li>
</ul>
<h1 id="sept-18">Sept 18</h1>
<p>Find max value in an array:</p>
<pre><code>int result = list[0];
for (int count = 0; count &lt; list.length;count++ )
{
    if (result &lt; list[count])
    {
        result = list[count];
    }
}
return result;</code></pre>
<p>Sorting a list: <code>public static void stortlist1(int[] list) {     int temp, count;     for (count = 1; count &lt; list.length, count++) // has to be 'count = 1' else program will look for list[-1]     {         if(list[count-1]&gt;list[count])         {         temp = list[count-1];         list[count-1] = list[count];         list[count] = temp;         }     } }</code></p>
<h2 id="objects">Objects</h2>
<ul>
<li>In Java, each variable must be called with a data type</li>
<li>Primitives:
<ul>
<li>int, double, short, long, char, float, byte, boolean</li>
</ul></li>
<li>Other data types are Objects
<ul>
<li>In Java, have uppercase names
<ul>
<li>e.g. String</li>
<li>dot notation gives properties of object instances</li>
</ul></li>
</ul></li>
<li>Object either definted by the programmer or are included with the system</li>
</ul>
<h1 id="sept-20">Sept 20</h1>
<ul>
<li>Default login for nTreePoint
<ul>
<li>umid / student number</li>
</ul></li>
<li>To remove numbers for Sieve of Eratosthenes array, increment by {2,3,5,7} and set values to zero
<ul>
<li>Much faster than divison or modulo</li>
</ul></li>
</ul>
<h1 id="sept-23">Sept 23</h1>
<ul>
<li>Constructor is a method without a return type located within the class</li>
</ul>
<pre><code>fred = new Student(100,&quot;Fred&quot;,3.0) // usage elsewhere

class Student
{
    private int number; // private means variable can only be referred to within the class and not external calling classes
    private String name; // prevents accidental modification of values
    private double gpa; // in general, variables within classes should be private

    public Student(int number, String name, double gpa) // this is the constructor
    {
        this.number = number;
        this.name = name;
        this.gpa = gpa;
    }
    public String toString()    // print and println will look for toString() to print and should always be included in a class 
    {
        return number + &quot; &quot; +name+&quot; &quot;+gpa; // note that there&#39;s no actual printing, just a return
    }

    public double getGPA()  // will provide the value of a private variable without allowing modification; called an Accessor
    {
        return gpa;
    }
}
</code></pre>
<h1 id="sept-27">Sept 27</h1>
<ul>
<li>Instance (non-static) variables are for when multiple objects are being created from a class</li>
<li>Static variables are for something only for internal use within a method</li>
</ul>
<pre><code>try
{
    BufferedReader filein;
    String line;

    filein = new BufferedReader (new TextReader(&quot;in.txt&quot;));
    line = filein.readline();
}
catch (IOException ioe)
{
    System.out.println(ioe.getMessage());
    ioe.printStackTrace();
}</code></pre>
<h1 id="sept-30">Sept 30</h1>
<ul>
<li>Hand in paper assignment in E2-418 in a folder</li>
<li>Submit electronic version seperately on course website</li>
<li>Honesty declaration goes in during class</li>
</ul>
<pre><code>import java.io.*;

PrintWriter outputFile;

outputFile = new PrintWriter(new FileWriter(&quot;out.txt&quot;));

outputFile.println(any values);

outputFile.close(); // required</code></pre>
<h1 id="oct-2">Oct 2</h1>
<ul>
<li>Moving file processing to a class is a good idea</li>
</ul>
<pre><code>class Reader
{
    
    private String filename;
    BufferedReader file;
    file = new BufferedReader(new FileReader(filename));

    public Reader (String filename)
    {

        this.filename = filename; 
    }
    public String readLine()
    {
        line = file.readLine();

        return line;
    }
}
</code></pre>
<h1 id="oct-4">Oct 4</h1>
<ul>
<li><p>String contents are stored as <code>char</code> array</p></li>
<li><code>Split()</code>
<ul>
<li>Takes contents of a String and returns the tokens that are inside a String</li>
</ul></li>
</ul>
<pre><code>String x = &quot;123     Fred&quot;;

String[] tokens;
tokens = x.split(&quot;\\s+&quot;); //Split on whitespace -- same as tokens = x.split(&quot;\s+&quot;)) in Python

tokens = x.trim().split(&quot;\\s+&quot;); //Trims outer whitespace, then splits</code></pre>
<h1 id="oct-7">Oct 7</h1>
<ul>
<li><p><code>.length</code> is used for arrays</p></li>
<li><p><code>.length()</code> is used for Strings</p></li>
<li><p><code>.size()</code> is used for collections</p></li>
<li><code>.equals()</code> to compare Strings
<ul>
<li><code>string1.equals(string2)</code> --&gt; <code>boolean</code></li>
</ul></li>
<li>Search and Replace
<ul>
<li><code>.indexOf(string)</code>
<ul>
<li>returns <code>int</code></li>
</ul></li>
<li><code>.replace(string1,string2)</code>
<ul>
<li><code>&quot;fred&quot;.replace(&quot;ed&quot;,&quot;ank&quot;)</code> --&gt; <code>&quot;frank&quot;</code></li>
<li>replaces all occurances, not just first -<code>.replaceFirst(string1,string2)</code></li>
<li>replaces first instance only</li>
</ul></li>
</ul></li>
</ul>
<h1 id="oct-9">Oct 9</h1>
<ul>
<li>Collections
<ul>
<li>A collection is a data structure</li>
</ul></li>
<li>Arrays cannot be resized
<ul>
<li>Copy relevant elements into a new array
<ul>
<li><code>System.arraycopy()</code></li>
</ul></li>
</ul></li>
<li>ArrayList
<ul>
<li>Pre-defined class in System</li>
<li>Works like <code>list</code> in Python</li>
</ul></li>
</ul>
<pre><code>    import java.util.ArrayList;

    ArrayList list;
    list = new ArrayList(); // list is empty -- list.size() returns 0
    list.add(&quot;abc&quot;); // same Python&#39;s list.append()
    String string1 = list.get(0); // returns &quot;abc&quot;
    list.set(0, &quot;xyz&quot;);
    list.get(0) // returns &quot;xyz&quot;</code></pre>
<h1 id="oct-11">Oct 11</h1>
<ul>
<li>Arrays are objects implemented by the Java compiler
<ul>
<li>Not defined in a class</li>
<li>list[3] // array notation</li>
</ul></li>
<li>ArrayList is a true object
<ul>
<li>Defined in a class</li>
<li>Dynamic in size</li>
<li>list.get(3) // ArrayList notation; is a method
<ul>
<li>Must cast return to desired datatype</li>
</ul></li>
<li>list.add(3, &quot;String10&quot;); // inserts second parameter at index first parameter</li>
</ul></li>
</ul>
<p><code>@SuppressedWarnings(&quot;unchecked&quot;)</code> suppresses warnings about mixed datatypes in ArrayList</p>
<ul>
<li>Generics
<ul>
<li>ArrayList<Object> list;
<ul>
<li>ArrayList <String> will only store Strings</li>
<li>This only works with objects
<ul>
<li>Use wrapper classes for primitives e.g. <code>Integer</code> for <code>int</code></li>
</ul></li>
<li>Program is now safer</li>
</ul></li>
</ul></li>
<li>Automatic conversion between wrappers and primitives is called &quot;Boxing&quot; and &quot;unboxing&quot;</li>
</ul>
<p>Oct 16 ========================</p>
<ul>
<li>Boxing is the automatic conversion of a primitive to the the corresponding wrapper object</li>
<li>Unboxing is automatic conversion of wrapper object to its primitive type</li>
</ul>
<p>Oct 18 ========================</p>
<ul>
<li>Exam topics
<ul>
<li>Data types
<ul>
<li>Primitives</li>
<li>Arrays</li>
<li>Provided/implemented by the compiler</li>
</ul></li>
<li>Compiler
<ul>
<li>Source --&gt; compiler --&gt; Byte code --&gt; JVM --&gt; Machine code</li>
</ul></li>
<li>Control flow</li>
<li>Static methods for procedural programming</li>
<li>Instance methods for objects
<ul>
<li>Prefixed with the object name</li>
</ul></li>
<li>Class defines a data type
<ul>
<li>Any defined but uninstantiated object returns null value</li>
</ul></li>
<li>.equals is for object comparison</li>
<li><code>==</code> used for primitive comparison</li>
</ul></li>
</ul>
<h1 id="oct-21">Oct 21</h1>
<ul>
<li>Inheritance</li>
</ul>
<pre><code>class Animal
{
    public String name;
    public String type;

    public String toString()
    {
        return &quot;Animal: Type: &quot;+type+&quot;; Name: &quot;+name;
    }
}
class Cat extends Animal
{
    public Cat (String name, String type)
    {
        this.name = name;
        type = &quot;cat&quot;;
    }
    public void makeNoise()
    {
        System.out.prinln(&quot;meow&quot;);
    }
}
class Dog extends Animal
{
    public Dog (String name, String type)
    {
        this.name = name;
        type = &quot;dog&quot;;
    }
    public void makeNoise()
    {
        System.out.prinln(&quot;woof&quot;);
    }
}</code></pre>
<ul>
<li>Animal above is a superclass
<ul>
<li>Cat and Dog are subclasses</li>
</ul></li>
</ul>
<h1 id="oct-23">Oct 23</h1>
<ul>
<li>If a method is repeated in the superclass and the subclass, the subclass version will be used
<ul>
<li>Called overriding</li>
</ul></li>
<li>Protected variables can be accessed by subclasses
<ul>
<li>Private variables cannot</li>
</ul></li>
<li>call <code>super()</code> in subclass constructor to pass to superclass constructor</li>
</ul>
<pre><code>class Dog extends Animal
{
    public Dog (String name)
    {
    super(name,&quot;dog&quot;);
    }
}</code></pre>
<ul>
<li><p>A collection of the superclass can store the subclasses <code>Animal[] zoo = new Animal[2]; zoo[0] = new Dog(&quot;Fido&quot;); zoo[1] = new Cat(&quot;Fluffy&quot;);</code></p></li>
<li><p>Protected constructor prevents objects of the superclass from being instantiated</p></li>
</ul>
<h1 id="oct-28">Oct 28</h1>
<ul>
<li>Recursion
<ul>
<li>Supports a different type of loop</li>
<li>Defined in terms of itself</li>
</ul></li>
<li>For and while loops are iterative loops</li>
</ul>
<p>``` public static int sum (int n) { int result;</p>
<pre><code>if (n == 1)
{
    result = 1;
}
else
{
    result = n + sum(n-1)
}
return result;</code></pre>
<p>}</p>
<h1 id="oct-30">Oct 30</h1>
<ul>
<li>The Stack
<ul>
<li>Push means add to the stack</li>
<li>Pop means remove from the stack</li>
<li>Temporarily accessible memory</li>
</ul></li>
<li><p>Every method called is pushed to the stack</p></li>
<li>The Heap
<ul>
<li>Stores objects</li>
<li>Long term</li>
</ul></li>
<li>Base case is condition which requires no further recursion
<ul>
<li>Returns value</li>
</ul></li>
<li><p>Iterative methods works much faster</p></li>
</ul>
<h1 id="nov-1">Nov 1</h1>
<pre><code>public static printList(int[] list, int position)
{
    if (position &lt; list.length)
    {
        System.out.println(list[position]);
        printList(list, position+1)
    }
    else
    {
        System.out.println();
    }
}</code></pre>
<ul>
<li>Use interface methods to pass parameters that the user does not care about to a method <code>public static printList(int[] list) {     printList(list, 0) }</code></li>
<li>Don't use ++ in recursion calls</li>
</ul>
<h1 id="nov-4">Nov 4</h1>
<ul>
<li>Bubble sort is slowest of all sorts</li>
<li>Double Bubble Sort is slightly faster
<ul>
<li>Moves larger going right</li>
<li>Smaller going left</li>
</ul></li>
<li>Selection sort
<ul>
<li>Keeps track of which element is largest</li>
</ul></li>
</ul>
<h1 id="nov-6">Nov 6</h1>
<ul>
<li>Bubble, Selection sort, and Insertion sorts on final
<ul>
<li>Insertion sort is fastest</li>
</ul></li>
</ul>
<h1 id="nov-8">Nov 8</h1>
<ul>
<li>Bubble sort is O(n<sup>2</sup>)</li>
<li>Insertion sort is O(n) if already sorted</li>
<li>Quicksort
<ul>
<li>one of the fastest</li>
</ul></li>
</ul>
<h1 id="nov-12">Nov 12</h1>
<h2 id="a4q3">A4Q3</h2>
<ul>
<li>Not a duplicate if current index == last-1</li>
<li>NO for loops; Method must be recursive</li>
<li>ArrayList has a method that searches from right to left</li>
</ul>
<h2 id="object-representation">Object Representation</h2>
<ul>
<li>Every variable has a location in memory allocated to it</li>
<li>int gets one <strong>word</strong> (32 bits)</li>
<li>long gets two words (64 bits)</li>
<li>All primitives have their value stored in the memory location allocated for the associated variable</li>
<li>Objects have pointers to the object
<ul>
<li>Pointers are stored in the associated variable, and point to the actual object</li>
<li>Pointers are one word long (32 bit)</li>
<li>Object with no pointer is called <strong>orphan</strong>; cannot be dropped by Java for safety reasons
<ul>
<li>Garbage collection is the process of identifying orphans are returning their memory as usable space</li>
</ul></li>
<li><code>student2 = student1</code> copies the pointer, not the object - Cloning copies the contents of an object to a new object</li>
</ul></li>
</ul>
<h1 id="nov-18">Nov 18</h1>
<h2 id="linked-lists">Linked lists</h2>
<ul>
<li>Create a LinkedList class
<ul>
<li>Should support all the same API functions as ArrayList</li>
<li>Contains the nodes</li>
</ul></li>
<li>Use a node class
<ul>
<li>Each node class stores two pointers
<ul>
<li>Pointer to associated object</li>
<li>Pointer to next node</li>
</ul></li>
</ul></li>
<li><p>Deals only with pointers, not physical memory adjacency</p></li>
<li>Encapsulation
<ul>
<li>Keeping the internal details hidden from the programmer</li>
</ul></li>
<li>LinkedList.get(position)
<ul>
<li>loop until count == position</li>
<li>Return pointer from node to associated object</li>
</ul></li>
<li>LinkedList.remove(position)
<ul>
<li>Find the node at the specified position</li>
<li>Store pointer to position+1 in position-1</li>
<li>Must handle previousNode == null</li>
</ul></li>
<li>Testing
<ul>
<li>Ensure all variables have appropriate values
<ul>
<li>Check that all parameters passed to each method contain valid values</li>
</ul></li>
<li>LinkedList.get(position)
<ul>
<li>Ensure position is valid
<ul>
<li><blockquote>
<p>= 0</p>
</blockquote></li>
<li>&lt; size()</li>
<li>If parameter is invalid:
<ul>
<li>Print an error message</li>
<li>Return null or -1</li>
</ul></li>
<li>Don't check for invalid values in calling program</li>
</ul></li>
<li>Normally you check for null pointer, but will not be possible if LinkedList is initialized correctly</li>
</ul></li>
</ul></li>
</ul>
<h2 id="n-dimensional-arrays">n-Dimensional Arrays</h2>
<ul>
<li>Mainly for scientific and mathematical processing</li>
</ul>
<pre><code>int[][] array;

array = new int[3][2];

array[0][0] = 23;
array[0][1] = 42;

23  42
0   0
0   0
</code></pre>
<h1 id="nov-22">Nov 22</h1>
<ul>
<li>Passing Parameters
<ul>
<li>Primitives
<ul>
<li>Java makes copies of the values of parameters</li>
<li>Copy is passed to called method</li>
<li>Returning throws away copied variables</li>
</ul></li>
<li>Objects
<ul>
<li>Changes are reflected in the original
<ul>
<li>Magic of pointers
<ul>
<li>Pointer is thrown away, as with primitives, but the object was modified</li>
</ul></li>
<li>e.g. Can modify array in a method</li>
</ul></li>
</ul></li>
</ul></li>
</ul>
<h1 id="nov-25">Nov 25</h1>
<ul>
<li>Cannot reinstantiate objects passed into a method
<ul>
<li>Copied variable points to the new array and is lost after the method closes</li>
</ul></li>
<li>String are immutable
<ul>
<li>Once a value is assigned, it cannot be changed</li>
<li>If String is modified, will point to a new object</li>
</ul></li>
<li><p>Wrapper classes are immutable</p></li>
<li>StringBuffer is more efficient for large programs
<ul>
<li>Can mutable objects</li>
</ul></li>
</ul>
<h1 id="nov-27">Nov 27</h1>
<ul>
<li>Assignment 5
<ul>
<li>Linked List
<ul>
<li>Get- same as an ArrayList</li>
<li>Size - no loops
<ul>
<li>Keep size variable inside class</li>
</ul></li>
</ul></li>
</ul></li>
</ul>
<h1 id="dec-2">Dec 2</h1>
<ul>
<li>Exam
<ul>
<li>2 hours</li>
<li>Dec 10 @ 1:30, FK Brown</li>
<li>8 - 10 questions</li>
<li>No algorithm analysis questions</li>
<li>Mostly classes and methods
<ul>
<li>Object orientation
<ul>
<li>I/O
<ul>
<li>Include try/catch
<ul>
<li>Simple error output</li>
</ul></li>
</ul></li>
<li>String and ArrayList classes</li>
<li>Instance variables, constructors, toString, etc</li>
</ul></li>
<li>Procedural programming
<ul>
<li>Decision statements</li>
<li>Loops</li>
<li>Recursion</li>
<li>Method calls</li>
</ul></li>
<li>Array processing
<ul>
<li>System.arraycopy()</li>
<li>Arrays.toString()</li>
</ul></li>
<li>Object representation
<ul>
<li>Just need to know its impact</li>
</ul></li>
<li>Collections
<ul>
<li>Array</li>
<li>ArrayList</li>
<li>LinkedList</li>
</ul></li>
</ul></li>
</ul></li>
</ul>
