<h1 id="sept-5">Sept 5</h1>
<h2 id="overview">Overview</h2>
<ul>
<li>Testing is on lecture material and lab book problems</li>
<li><p>No tutorial Sept 12</p></li>
<li>Inheritance
<ul>
<li>Transmission of traits between generations</li>
<li>Occurs via hereditary material (nucleic acids)</li>
<li>Cellular inheritance by division</li>
</ul></li>
<li>Chromosome
<ul>
<li>Continuous strand of DNA packaged with proteins</li>
<li>Linear in eukaryotes</li>
<li>Circular in prokaryotes (usually)</li>
</ul></li>
</ul>
<h2 id="cell-cycle">Cell Cycle</h2>
<ul>
<li>Mitosis (M phase)
<ul>
<li>nuclear division</li>
<li>cytokinesis</li>
</ul></li>
<li>Presynthesis Gap (G1)</li>
<li>Synthesis of DNA (S Phase)</li>
<li>Post-synthesis Gap (G2)</li>
<li><p>G1, S, G1 == Interphase</p></li>
<li>DNA Replication
<ul>
<li>Single chromatid duplicates to two identical sister chromatids</li>
<li>Chromatids joined by centromere</li>
<li>Chromatids diffuse during S Phase</li>
</ul></li>
</ul>
<h2 id="mitosis">Mitosis</h2>
<ul>
<li><p>IPMAT</p></li>
<li><strong>Prophase (paired)</strong> -- chromatids condense, visible under microscope</li>
<li><strong>Metaphase</strong> -- chromosomes aligned in middle of cell by spindle apparatus (microtubules) attached at centromeres</li>
<li><strong>Anaphase (apart)</strong> -- sister chromatids pulled apart</li>
<li><p><strong>Telophase (two)</strong> -- Chromatids reach opposite poles, cytokinesis divide cell in two</p></li>
<li>Progeny are genetically identical to parent cell</li>
<li><p>Used for growth, repair in somatic cells</p></li>
</ul>
<h1 id="sept-10">Sept 10</h1>
<h2 id="karyotype">Karyotype</h2>
<ul>
<li>Visualization of metaphase chromosomes
<ul>
<li>Metaphase because chromosomes are condensed and visible</li>
</ul></li>
<li>Numbered from largest to smallest</li>
<li>In humans, 22/23 are autosomes</li>
<li>Sex chromosomes are 23rd pair</li>
</ul>
<h2 id="cell-division">Cell Division</h2>
<ul>
<li>Mitosis
<ul>
<li>Progeny are genetically identical to parents (somatic cells)</li>
</ul></li>
<li>Miosis
<ul>
<li>Germline cells</li>
<li>Two sets of chromosomes
<ul>
<li>One maternal</li>
<li>One paternal</li>
</ul></li>
<li>2N = diploid</li>
<li>N = haploid</li>
<li>One round of duplication</li>
<li>Two rounds of division (Meiosis 1 and meiosis 2)</li>
</ul></li>
</ul>
<h2 id="meiosis-steps">Meiosis steps</h2>
<ul>
<li>Produces four genetically unique gametes</li>
<li>Reduces chromosomes from diploid to haploid</li>
<li><strong>Genetic variation produced by independent assortment of chromosomes</strong></li>
<li><p>Recombination results in additional genetic variation</p></li>
<li>Interphase
<ul>
<li>DNA Replication</li>
</ul></li>
<li>Prophase I
<ul>
<li>Pairs physically interact at synapsis</li>
<li>Can exchange genetic material
<ul>
<li>Chiasma (pl. chiasmata) is site of exchange</li>
</ul></li>
<li>Source of genetic variability</li>
</ul></li>
<li>Metaphase I
<ul>
<li>Homologous pair aligns on metaphase plate</li>
</ul></li>
<li>Anaphase I
<ul>
<li>Homologous pairs seperate</li>
<li>Duplicated chromosomes remain together</li>
</ul></li>
<li>Telophase I
<ul>
<li>Two cells each with one member of homologous pair are created via cytokinesis</li>
</ul></li>
<li>Prophase II
<ul>
<li>Chromosomes condense</li>
</ul></li>
<li>Metaphase II
<ul>
<li>Duplicated sister chromosomes come to the middle</li>
</ul></li>
<li>Anaphase II
<ul>
<li>Sister chromatids seperate</li>
</ul></li>
<li>Telophase II
<ul>
<li>Four cells each with one chromatid</li>
<li>Haploid</li>
</ul></li>
</ul>
<h2 id="classical-genetics-vs-molecular-genetics">Classical Genetics vs Molecular Genetics</h2>
<ul>
<li>Classical genetics
<ul>
<li>Focus on inheritance on organismal level</li>
<li>See phenotype, try to deduce genotype</li>
</ul></li>
<li>Molecular genetics
<ul>
<li>Concerned with DNA</li>
<li>Create mutant genotype, observe phenotypic difference</li>
</ul></li>
</ul>
<h2 id="medellian-genetics">Medellian Genetics</h2>
<ul>
<li>Genotype
<ul>
<li>Genetic constitution of an organism</li>
</ul></li>
<li>Phenotype
<ul>
<li>Observable result of the genotype</li>
</ul></li>
<li>Gregor Mendel
<ul>
<li>Performed series of selective breeding experiments with garden peas
<ul>
<li>Peas may self-fertilize</li>
</ul></li>
<li>After many generations of self-fertilization, &quot;true breeding&quot; or &quot;pure breeding&quot; strains emerged</li>
<li>Also crossed gametes between plants</li>
</ul></li>
</ul>
<h1 id="sept-12">Sept 12</h1>
<h2 id="medellian-genetics-cont">Medellian Genetics Con't</h2>
<ul>
<li>Mendel selected 7 trainst with pairs of alternative phenotypes
<ul>
<li>Performed series of crosses</li>
</ul></li>
<li>P generation = Parental generation</li>
<li>F1 gneration = First filial generation</li>
<li>F2 generation = Results of crossing withing F1
<ul>
<li>Continue <em>ad infinitum</em></li>
</ul></li>
<li>Dominant = trait expressed in a hybrid</li>
<li><p>Recessive = trait not expressed in a hybrid</p></li>
<li><p>Monohybrid cross differs with only one trait</p></li>
<li>Smooth x Rough --&gt; Smooth
<ul>
<li>Contradicted existing theories of 'blending'</li>
<li>F1 not true breeding</li>
<li>Deduced that ability to produce rough seeds had not disappeared, but was masked</li>
<li>Basically, smooth is dominant over rough</li>
</ul></li>
<li>Mendel concluded that hereditary material (gene) existed in alternate forms (allele)</li>
<li><p>True breeders must be homozygous</p></li>
<li><p>To seperate homozygous dominant from heterozygous, perform test cross against homozygous recessive</p></li>
</ul>
<h2 id="basic-probability">Basic Probability</h2>
<ul>
<li>Odds of an event occuring</li>
<li>Multiply independent events</li>
<li>Sum the probability of exclusive events</li>
</ul>
<h1 id="sept-17">Sept 17</h1>
<ul>
<li>Dihybrid cross
<ul>
<li>Organism is heterozygous for two genes</li>
<li>4x4 Punnett Square</li>
</ul></li>
<li>Mendel's Second Law
<ul>
<li>Principal of independant assortment</li>
<li>Genes on different chromosomes behave independantly in the production of gametes</li>
<li>For <em>n</em> independantly assorting genes:
<ul>
<li>2^<em>n</em> phenotypes</li>
<li>3^<em>n</em> genotypes</li>
</ul></li>
</ul></li>
<li>Chi-Square Test
<ul>
<li>Do observations fit the model, within random chance?</li>
</ul></li>
</ul>
<pre><code>Sigma(((Observed - expected)^2)/expected) = Chi-square

Degrees of freedom = n-1 classes

Check against significance table. P is probability that variation is due to chance.

Return p-value corresponding to your Chi-square value.</code></pre>
<h1 id="sept-19">Sept 19</h1>
<ul>
<li>Binomial Expansion
<ul>
<li>(a+b)^N
<ul>
<li>a,b are probability of alternatives</li>
<li>N is number of events</li>
<li>(a+b)^2 = a^2 + 2ab + b^2</li>
<li>(a+b)^3 = a^3 + 3a^2b + 3ab^2 + b^3</li>
</ul></li>
<li>Probability = N!/x!(N-x)! * p^x * q^N-x
<ul>
<li>p = probability of outcome</li>
<li>q = probability of alternative outcome</li>
<li>x = number of times p happened</li>
</ul></li>
</ul></li>
</ul>
<h2 id="sex-linkage">Sex Linkage</h2>
<ul>
<li>Karyotypes of eukaryotes show two types of chromosomes
<ul>
<li>Autosomes are equally represented in both sexes</li>
<li>Sex chromosomes are differently represented in different sexes</li>
</ul></li>
<li>Genes located on sex chromosomes are differentially inherited</li>
<li><p>&quot;+&quot; inicates wildtype</p></li>
<li>Criss-cross inheritance (X-linked)
<ul>
<li>Father --&gt; Daughter -- &gt; Grandson</li>
</ul></li>
</ul>
<h1 id="sept-24">Sept 24</h1>
<h2 id="sex-linkage-cont">Sex Linkage Con't</h2>
<ul>
<li>Sex linked traits in <em>Homo sapiens</em>
<ul>
<li>Colour blindness (X-linked recessive)</li>
<li>Faulty tooth enamel (X-linked dominant) <br></br></li>
</ul></li>
<li>Most sex-linked traits are X-linked
<ul>
<li>Y is primarily involved in male sex determination</li>
<li>A few conditions <em>are</em> Y-linked
<ul>
<li>Called holandric (wholly male)</li>
<li>By definition, can only be exhibited by males <br></br></li>
</ul></li>
</ul></li>
<li>Hairy ears are a possible example of Y-linked
<ul>
<li>Cannot determine dominant/recessive because its irrelevant due to a single copy</li>
</ul></li>
</ul>
<h2 id="human-inheritance">Human Inheritance</h2>
<ul>
<li>Complicated by several factors
<ul>
<li>Controlled matings are unethical</li>
<li>Number of progeny are usually small <br></br></li>
</ul></li>
<li>Use pedigrees instead
<ul>
<li>Males are squares</li>
<li>Females are circles</li>
<li>Unaffected are unfilled</li>
<li>Affected are filled <br></br></li>
</ul></li>
<li><p>Often difficult to determine pattern of inheritance from a small pedigree</p></li>
<li><p>If a trait is rare, it is possible but unlikely that an unaffected mother is heterozygous</p></li>
</ul>
<h1 id="sept-26">Sept 26</h1>
<ul>
<li>Autosomal recessive
<ul>
<li>If recessive trait is rare, wildtype is very likely to be homozygous normal
<ul>
<li>Progeny are heterozygous, trait skips generations
<ul>
<li>Unless trait on both sides of family, or parents are related</li>
</ul></li>
<li>Matings between two affected individuals give only affected progeny <br></br></li>
</ul></li>
</ul></li>
<li>Autosomal dominant
<ul>
<li>If trait is deletrious or rare, affected individuals are likely heterozygous</li>
<li>Most mating with homozygous normal yield half affected progeny</li>
<li>Every affected individual has at least one affected parent
<ul>
<li>No generations skipped <br></br></li>
</ul></li>
</ul></li>
<li>X-linked recessive
<ul>
<li>Seen mostly in males</li>
<li>Affected mother is homozygous
<ul>
<li>Sons guaranteed to be affected</li>
</ul></li>
<li>Affected male
<ul>
<li>All carrier daughters</li>
<li>All normal sons <br></br></li>
</ul></li>
</ul></li>
<li>X-linked dominant
<ul>
<li>Greater number of females affected</li>
<li>Affected mother is most likely heterozygous
<ul>
<li>Half of sons affected, half of females affected</li>
</ul></li>
<li>Affected male only has affected daughters</li>
<li>No generations skipped <br></br></li>
</ul></li>
<li>Y-linked
<ul>
<li>Only in males</li>
<li>Direct father-son inheritance</li>
</ul></li>
<li>Sex-limited traits
<ul>
<li>Autosomal gene limited to one sex
<ul>
<li>e.g. milk production</li>
</ul></li>
</ul></li>
<li>Sex-influenced trait
<ul>
<li>Autosomal trait where relationship between genotype and phenotype differs with sexes
<ul>
<li>Pattern baldness is Human
<ul>
<li>Autosomal trait influenced by hormones</li>
<li>Dominant in males</li>
<li>Recessive in females</li>
</ul></li>
</ul></li>
</ul></li>
</ul>
<h2 id="chromosomal-basis-of-sex-determination">Chromosomal Basis of Sex Determination</h2>
<ul>
<li><p>Homologous region on sex chromosomes called &quot;pseudoautosomal region&quot;</p></li>
<li>Nondisjunction
<ul>
<li>Failure of homologous chromosomes or sister chromatids to separate during anaphase</li>
<li>Can happen with sex chromosomes or autosomes</li>
<li>Nondisjunction in Meiosis I
<ul>
<li>50% have extra chromosome</li>
<li>50% have missing chromosome</li>
</ul></li>
<li>Nondisjunction in Meiosis II
<ul>
<li>50% normal</li>
<li>25% have extra chromosome</li>
<li>25% have missing chromosome</li>
</ul></li>
<li>Called aneuploidy
<ul>
<li>Can be missing or extra</li>
<li>Often lethal</li>
<li>Can provide evidence of how sex determination works in an organism</li>
</ul></li>
</ul></li>
</ul>
<h1 id="oct-1">Oct 1</h1>
<h2 id="sex-determination-and-dosage-compensation">Sex Determination and Dosage Compensation</h2>
<ul>
<li>Sex Determination
<ul>
<li>Y chromosome mechanism
<ul>
<li>Placental mammals</li>
</ul></li>
<li>X chromosome - autosome balance system
<ul>
<li><em>Drosophila melanogaster</em> and <em>Caenorhabditis elegans</em> <br></br></li>
</ul></li>
</ul></li>
<li>Mammalian Sex Determination
<ul>
<li>Determined by presence/absence of Y chromosome</li>
<li>Evidence provided by individuals with unusual chromosome content
<ul>
<li>X0 = Turner Syndrome
<ul>
<li>1/10000</li>
<li>Female</li>
<li>short, infertility, reduced sexual development</li>
</ul></li>
<li>XXY, XXXY, XXYY = Klinefelter Syndrome
<ul>
<li>1/1000</li>
<li>Male</li>
<li>Slightly taller, infertile</li>
</ul></li>
<li>XYY
<ul>
<li>1/1000</li>
<li>Male</li>
<li>Tall, fertile</li>
</ul></li>
<li>XXX = Triple-X
<ul>
<li>1/1000</li>
<li>Female, slightly tall, normal, fertile</li>
</ul></li>
</ul></li>
<li>Many important genes on X chromosome
<ul>
<li>Cell must equate gene products</li>
<li>Mammals inactivate one X chromosome per cell
<ul>
<li>Condensed to a Barr Body</li>
<li>Process called Lyonization</li>
<li>Also occurs in aneuploids</li>
<li>Occurs stochastically at ~1000 cell change</li>
<li>Inherited from cell-to-cell</li>
<li>Leads to patchy or mosaic pattern
<ul>
<li>Calico cats</li>
<li>Anhidrotic ectodermal dysplasia</li>
<li>Werewolf syndrome</li>
</ul></li>
</ul></li>
</ul></li>
<li>Presence of Y will alter some template tissues
<ul>
<li>Gonads + Y = testes</li>
<li>Gonads with no Y = ovaries</li>
<li>Region producing testes determining factor mapped in sex reversal individuals
<ul>
<li>XX which recombined with Y may carry factor --&gt; phenotypic male</li>
<li>XY with factor knockout --&gt; phenotypic female</li>
<li>Region contains SRY (sex determining region Y)
<ul>
<li>Necessary and sufficient to determine maleness <br></br></li>
</ul></li>
</ul></li>
</ul></li>
</ul></li>
<li><em>Drosophila</em> Sex Determination
<ul>
<li>Ratio based</li>
<li>XX/AA &gt;= 1, then female</li>
<li>XX/AA = 0.5, then male</li>
<li>X0/AA = 0.5, male but sterile
<ul>
<li>Y is required for fertility but not sex determination</li>
</ul></li>
<li>XX/AAA = 2/3, then intersex but sterile</li>
</ul></li>
<li><em>Drosophila</em> Dosage Compensation
<ul>
<li>Rather than downregulation of X genes, upregulation of Y genes <br></br></li>
</ul></li>
<li><em>Caenorhabditis elegans</em> Sex Determination
<ul>
<li>XX = hermaphrodite
<ul>
<li>Normally self-fertilize</li>
</ul></li>
<li>X0 = Male
<ul>
<li>Sperm have competitive advantage</li>
</ul></li>
</ul></li>
<li><em>C. elegans</em> Dosage Determination
<ul>
<li>Each X produces 0.5</li>
</ul></li>
</ul>
<h1 id="oct-3">Oct 3</h1>
<ul>
<li>Sex Determination in Birds, Butterflies, Snakes
<ul>
<li>Female = ZW</li>
<li>Male = ZZ</li>
<li>Simmilar idea as mammals, but reversed</li>
<li>Bird sex determining gene on Z chromosome
<ul>
<li>Not dosage compensated</li>
<li>Males express more than females
<ul>
<li>Threshold controlled, above which testes development proceeds <br></br></li>
</ul></li>
</ul></li>
</ul></li>
<li>Environmental Sex Determination in Turtles
<ul>
<li>&gt; 32C yields females</li>
<li>&lt; 28C gives males</li>
<li>between gives mixture</li>
</ul></li>
</ul>
<h2 id="extensions-to-mendellian-inheritance">Extensions to Mendellian Inheritance</h2>
<ul>
<li><p>Not all traits are completely dominant</p></li>
<li>Incomplete Dominance
<ul>
<li>e.g. Snapdragons
<ul>
<li>True breeding P are red x white
<ul>
<li>F1 is pink</li>
</ul></li>
</ul></li>
</ul></li>
<li>Co-dominance
<ul>
<li>heterozygote exhibits phenotype of both homozygotes
<ul>
<li>e.g. human MN blood group</li>
<li>M = L<sup>M</sup> L<sup>M</sup></li>
<li>N = L<sup>N</sup>L<sup>N</sup></li>
<li>MN = L<sup>M</sup> L<sup>N</sup> <br></br></li>
</ul></li>
</ul></li>
<li>Multiple Alleles
<ul>
<li>human ABO blood type
<ul>
<li>I<sup>A</sub> gives A</li>
<li>I<sup>B</sup> gives B</li>
<li>i is recessive and gives O</li>
<li>O is universal donor</li>
<li>AB is universal receiver</li>
</ul></li>
</ul></li>
<li>Rh+ dominant over Rh-
<ul>
<li>If mother with Rh-, foetus Rh- at first child
<ul>
<li>Mother produces anti-Rh antibodies</li>
<li>2nd child is attacked, anaemia, death</li>
</ul></li>
</ul></li>
<li>Lethal Alleles
<ul>
<li>Mouse coat colour
<ul>
<li>AA is brown</li>
<li>A<sup>Y</sup>A is yellow</li>
<li>A<sup>Y</sup>A<sup>Y</sup> is lethal</li>
</ul></li>
<li>If het dies before adulthood, no children</li>
<li>If late onset dominant lethal, can still be passed on
<ul>
<li>no symptoms until 30s, die in 40s-50s</li>
</ul></li>
</ul></li>
</ul>
<h2 id="end-of-midterm-material">End of Midterm Material</h2>
<h1 id="oct-8">Oct 8</h1>
<h2 id="extensions-to-mendellian-genetics">Extensions to Mendellian Genetics</h2>
<ul>
<li>Two or more genes which affect phenotype
<ul>
<li>combs on chickens
<ul>
<li>rose x single --&gt; 3:1 rose:single</li>
<li>pea x single --&gt; 3:1 pea:single</li>
<li>rose x pea --&gt; walnut</li>
<li>walnut x walnut --&gt; 9:3:3:1 walnut:rose:pea:single <br></br></li>
</ul></li>
<li>squash
<ul>
<li>long breeds true</li>
<li>sphere x long --&gt; sphere</li>
<li>9:6:1 disk:sphere:long</li>
<li>sphere can be made with either combination of dominant and recessive <br></br></li>
</ul></li>
</ul></li>
<li>Sometimes a gene can mask the phenotype of another
<ul>
<li><strong>epistasis</strong></li>
<li>Rodent coat colour
<ul>
<li>agouti : dominant</li>
<li>black : recessive to agouti</li>
<li>albino : true breeding, and recessive to any colour</li>
<li>agouti x albino -- &gt; agouti x agouti --&gt;
<ul>
<li>9:3:4 agouti:black:albino <br></br></li>
</ul></li>
</ul></li>
</ul></li>
<li>Penetrance and Expressivity
<ul>
<li>Incomplete penetrance
<ul>
<li>&lt;100% of genetically identical individuals show phenotype</li>
</ul></li>
<li>Variable expressivity
<ul>
<li>Gradients of phenotype</li>
</ul></li>
</ul></li>
</ul>
<h1 id="oct-10">Oct 10</h1>
<ul>
<li>Mapping e.g. Tomato
<ul>
<li>P/p Purple/red Dominant/recessive</li>
<li>H/h Hairy/smooth Dominant/recessive</li>
<li>PPHH x pphh
<ul>
<li>220 P-H-</li>
<li>210 pphh</li>
<li>32 P-ss</li>
<li>38 ppH-</li>
<li>NB parental phenotypes are most common F1 phenotypes</li>
</ul></li>
</ul></li>
<li><p>Simple recombination gives 1/2 parental and 1/2 recombinant progeny</p></li>
<li><p>Likelihood of recombination is proportional to the distance between loci</p></li>
<li><p>RF = recombinants/total progeny = map units = centiMorgans = % chance of recombination during meisosis</p></li>
<li>&quot;Coupling&quot;
<ul>
<li><strong><em>cis</em></strong> position is when two dominant or two recessive are linked</li>
<li><strong><em>trans</em></strong> position is when one dominant and one recessive are linked</li>
</ul></li>
</ul>
<pre><code>Allele combination can be repressented as:

PH      p+h+      ++
==  OR  ----  OR  --
ph      p h       ph

PH/ph  OR  p+h+/ph  OR  ++/ph</code></pre>
<h1 id="oct-22">Oct 22</h1>
<ul>
<li>Linked genes are on the same chromosome
<ul>
<li>&lt; 50 cM</li>
</ul></li>
<li><p>Distinguish by examining dihybrid test cross progeny</p></li>
<li><p>Unliked genes give 50% recombination</p></li>
<li><p>Genes on same chromosome but more than 50 cM apart behave like unlinked genes</p></li>
<li><p>Can get distances above 50 cM by addition, but cannot determine by recombination frequencies</p></li>
<li>Double crossovers may regenerate parental genotype
<ul>
<li>Every crossover only involves 2 strands</li>
</ul></li>
<li>Even mutiple crossover events generate on average
<ul>
<li>50% recombinants</li>
<li>50% parental</li>
<li><strong>Cannot</strong> measure beyond 50 cM for two genes</li>
</ul></li>
<li>Three genes to get beyond this
<ul>
<li>Can determine distance and order</li>
</ul></li>
</ul>
<p>white eyes w singled bristles sn miniature wings m</p>
<p>w sn m<sup>+</sup> w<sup>+</sup>sn<sup>+</sup>m ------------------ X ------------------------------ w sn m<sup>+</sup> Y</p>
<p>F1 w sn m<sup>+</sup> w sn m<sup>+</sup> ------------------ X ------------------- w<sup>+</sup>sn<sup>+</sup>m Y</p>
<p>Essentially no recombination in Drosophilia males (X or autosome)</p>
<pre><code>1. Identify parental classes
2. Identify recombinant classes (similar frequencies and complemtary phenotypes)
3. The gene that switches position relative to the other two is the middle gene</code></pre>
<p>``` Coefficient of Coincidence = (double crossover events observed) / (double crossover events expected)</p>
<p>Interference = 1 - CoC ``` - Positive interference when I is 0 &lt; I &lt; 1 - Negative is when I is &gt; 1</p>
<h1 id="oct-24">Oct 24</h1>
<h2 id="changes-in-chromosome-structure-and-number">Changes in Chromosome Structure and Number</h2>
<ul>
<li>Basic rules
<ul>
<li>Homologous chromosomes will attempt pairing during Prophase I</li>
<li>Spindles attach to centromeres</li>
<li>Homologous chromosomes seperate during Meiosis I</li>
<li>Chromosomes seperate in Meiosis II <br></br></li>
</ul></li>
<li>Structural changes
<ul>
<li>Initiated by double-stranded chromosome breaks
<ul>
<li>Caused by radiation, chemicals, recombination errors</li>
</ul></li>
<li>Ends are sticky</li>
<li>Results in change in conformation
<ul>
<li><strong>Deletion</strong>
<ul>
<li>Loss of centromere means loss of whole chromosome
<ul>
<li>Typically fatal</li>
</ul></li>
<li>Deletion of individual regions <em>may</em> be okay if not homozygous for deletion</li>
<li>If homologue is recessive type, triggers &quot;pseudodominance&quot;
<ul>
<li>Unexpected expression of recessive allele</li>
</ul></li>
<li>Can be triggered by recombination with chromosome without homologous region</li>
</ul></li>
<li><strong>Duplication</strong>
<ul>
<li>Doubling of a chromosome segment</li>
<li>Can arise from unequal crossover
<ul>
<li>An existing duplications can make subsequent duplications more likely</li>
</ul></li>
<li>Better tolerated than deletions</li>
<li>&quot;Correct&quot; homologue will pair with either copy of duplicated regions</li>
<li>Important for evolution and expansion of gene families</li>
</ul></li>
<li><strong>Inversion</strong>
<ul>
<li>Chromosomal segment is excised and reintegrated in the opposite direction</li>
<li>Pericentric inversions contain centromere</li>
<li>Paracentric inversions do not contain the centromere</li>
<li>Heterozygotes must create <strong>inversion loop</strong>
<ul>
<li>Forms dicentric bridge and acentric fragment</li>
<li>Acentric fragment is lost</li>
<li>50% of gametes are viable (parental genotype)</li>
</ul></li>
</ul></li>
<li><strong>Translocation</strong>
<ul>
<li>Movement of segment to another point in the genome</li>
<li>No net gain or loss of genetic material</li>
<li>50% gametes are inviable <br></br></li>
</ul></li>
</ul></li>
</ul></li>
<li>Number changes
<ul>
<li>Human aneuploidy in autosomes is generally lethal
<ul>
<li>Trisomy 21 (Down's Syndrome) is an exception</li>
</ul></li>
<li>Aneuploidy in sex chromosomes is tolerated due to dosage compensation via Barr Bodies</li>
<li>All aneuploidy in plants in a 2N+1 are equally likely</li>
</ul></li>
</ul>
<h1 id="oct-29">Oct 29</h1>
<ul>
<li>In eusocial insects (bees, wasps, ants), males are monoploid
<ul>
<li>Produce gametes by mitosis</li>
<li>Develop from unfertilized eggs</li>
</ul></li>
<li>Many plants are polyploid
<ul>
<li>Bread wheat are hexaploid</li>
<li>Strawberries are octaploid</li>
</ul></li>
<li>Autopolyploidy is all chromosome from the same species</li>
<li>Allopolyploidy has chromosomes from different, but related species
<ul>
<li>Almost always sterile</li>
<li>If chromosomes double, but fail to segregate, offspring are fertile</li>
</ul></li>
<li>Bananas
<ul>
<li>Random segregation of every chromosome</li>
<li>Every gamete has different chromosome count</li>
<li>Gametes have different chromosome counts and are inviable</li>
<li>All modern commerical bananas are genetically identical</li>
</ul></li>
<li><p><strong>Population</strong> is a group of interbreeding individuals of the same species</p></li>
<li><p><strong>Gene pool</strong> is the total of all alleles possessed by members of a population</p></li>
<li>For sex-linked genes, it is best to use gene counting methods
<ul>
<li>(Number of chromosomes with trait) / (total number of chromosomes)</li>
</ul></li>
<li>Hardy-Weinberg Law (Ideal Population)
<ul>
<li>no selection</li>
<li>no mutation</li>
<li>no migration</li>
<li>population is infinitely large</li>
<li>individuals mate at random</li>
</ul></li>
</ul>
<p>p<sup>2</sup> + 2 pq + q<sup>2</sup> = 1</p>
<pre><code>- Population where this is true is at Hardy-Weinberg Equilibrium
- Can introduce r term for multiple alleles</code></pre>
<p>p<sup>2</sup> + q<sup>2</sup> + r<sup>2</sup> + 2pq + 2pr + 2qr = 1</p>
<ul>
<li>In general, when testing Hardy-Weinberg, the degrees of freedom == (phenotypes - alleles)</li>
</ul>
<h1 id="oct-31">Oct 31</h1>
<h2 id="non-ideal-populations">Non-ideal Populations</h2>
<ul>
<li>Genetic Drift
<ul>
<li>Caused by small populations</li>
<li>Random</li>
<li>Causes <strong>fixation</strong>
<ul>
<li>Populations arise that are all homozygous</li>
<li>Loss of alleles <br></br></li>
</ul></li>
</ul></li>
<li>Nonrandom Mating
<ul>
<li>Inbreeding &amp; Self-fertilization
<ul>
<li>Increase in homozygotes</li>
<li>No loss of alleles <br></br></li>
</ul></li>
</ul></li>
<li>Mutation
<ul>
<li>Creates new alleles</li>
<li>Provides raw material for selection</li>
<li>Very slow on its own <br></br></li>
</ul></li>
<li>Migration
<ul>
<li>homogenizes allele frequencies across populations</li>
<li>increased heterozygosity</li>
<li>P<sub>y</sub>` = m * P<sub>x</sub> + (1-m) * P<sub>y</sub> <br></br></li>
</ul></li>
<li>Selection
<ul>
<li>Fitness (w) = relative number of progeny in the next population</li>
<li>Largest genotype is 1; lethal is 0</li>
</ul></li>
</ul>
<h2 id="quantitative-genetics">Quantitative Genetics</h2>
<ul>
<li>Many traits are continuous</li>
<li>If trait is under the control of multiple genes with two alleles
<ul>
<li>Called polygenic</li>
<li>3<sup>n</sup> possibilities; n = genes</li>
</ul></li>
<li>Environment may also influence traits
<ul>
<li>Called multifactorial trait</li>
</ul></li>
</ul>
<h1 id="nov-5">Nov 5</h1>
<h2 id="continuous-traits">Continuous Traits</h2>
<ul>
<li>Take specific measurements
<ul>
<li>Entire group of interest
<ul>
<li>Impractical, so take representative subset</li>
</ul></li>
</ul></li>
<li>Plot as a frequency distribution
<ul>
<li>Histogram</li>
<li>Generate curve</li>
<li>Look for normal distribution
<ul>
<li>Typical of multifactorial traits</li>
</ul></li>
</ul></li>
<li>Use statistics to describe
<ul>
<li>Variance gives units<sup>2</sup></li>
<li>Standard deviation gives answer in original units</li>
<li>Mean gives centre of curve</li>
</ul></li>
<li><p>Majority of agricultural traits are quantitative</p></li>
<li>Contributing allele
<ul>
<li>Contributes to a quantitative traits</li>
</ul></li>
<li>Non-contributing allele
<ul>
<li>Does not affect quantitative trait</li>
</ul></li>
<li>Probability
<ul>
<li>Use complete binomial expansion (a+b)<sup>3</sup></li>
<li>Step 1: a<sup>3</sup>+a<sup>2</sup>b+ab<sup>2</sup>+b<sup>3</sup></li>
<li>Step 2: Get Coefficients from Pascal's Triangle (n+1)
<ul>
<li>a<sup>3</sup>+3a<sup>2</sup>b+3ab<sup>2</sup>+b<sup>3</sup></li>
</ul></li>
<li>Assumes no epistasis, linkage, environmental effects, genes are fully contributing or non-contributing</li>
</ul></li>
</ul>
<h1 id="nov-7">Nov 7</h1>
<h2 id="continuous-traits-cont">Continuous Traits Con't</h2>
<ul>
<li>Covariance
<ul>
<li>Sigma(x<sub>i</sub> - x<sub>mean</sub>)(y<sub>i</sub> - y<sub>mean</sub>) / n-1</li>
<li>Determines if variables tend to vary consistently from the mean <br></br></li>
</ul></li>
<li>Correlation coefficient (r)
<ul>
<li>r = COV<sub>xy</sub> / (s<sub>x</sub> * s<sub>y</sub>)</li>
<li>1.00 = high positive correlation</li>
<li>0.00 = no correlation</li>
<li>(-1.00) = high negative correlation <br></br></li>
</ul></li>
<li>Heritability
<ul>
<li>Measure of genetic contribution to phenotypic variance (V<sub>p</sub>)</li>
<li>V<sub>p</sub> = V<sub>G</sub> + V<sub>E</sub></li>
<li>V<sub>G</sub> is genetic variance</li>
<li>V<sub>E</sub> is environmental variance <br></br></li>
</ul></li>
<li>Broad-sense heritability
<ul>
<li>H<sub>B</sub><sup>2</sup> = V<sub>G</sub> / V<sub>p</sub> = V<sub>G</sub> / V<sub>G</sub> + V<sub>E</sub></li>
<li>If H<sub>B</sub><sup>2</sup> is close to 1.00, environmental factors have little impact</li>
<li>If H<sub>B</sub><sup>2</sup> is close to 0.00, environmental factors is primary source of variation <br></br></li>
</ul></li>
<li>Narrow-sense heritability
<ul>
<li>H<sub>N</sub><sup>2</sup> = V<sub>A</sub> / V<sub>p</sub></li>
<li>Also called &quot;realized heritability&quot;</li>
<li>Used in breeding programs to assess results of selection procedures</li>
<li>H<sub>N</sub><sup>2</sup> = (selection response) / (selection differential) <br></br></li>
</ul></li>
<li>Quantitative Trait Mapping (QTL)
<ul>
<li>Take two strains which differ in a given trait</li>
<li>Cross parents to make F1; F1 should produce intermediate phenotype</li>
<li>Generate F2; similar to F1, but broader range of data</li>
<li>Examine correlation between phenotype and genotype in most extreme progeny</li>
</ul></li>
</ul>
<h2 id="structure-of-dna">Structure of DNA</h2>
<ul>
<li>Nucleotides
<ul>
<li>Sugar
<ul>
<li>5 carbon sugar (ribose | deoxyribose)</li>
<li>1' position binds base</li>
<li>2' is OH or H</li>
<li>3' attaches next nucleotide in chain</li>
<li>5' binds phosphate</li>
</ul></li>
<li>Base
<ul>
<li>purines have two rings
<ul>
<li>Adenine and Guanine</li>
</ul></li>
<li>pyrimidine have one ring
<ul>
<li>Cytosine, Uracil, and Thymine</li>
</ul></li>
</ul></li>
<li>Phosphate
<ul>
<li>Phosphodiester bond joins nucleotides</li>
<li>3' - 5'</li>
</ul></li>
</ul></li>
</ul>
<h1 id="nov-12">Nov 12</h1>
<ul>
<li>DNA double helix
<ul>
<li>Anti-parallel</li>
<li>Sugar-phosphate backbone faces outward</li>
<li>Bases held together by hydrogen bonds</li>
<li>GC pairs are more stable that AT
<ul>
<li>3 H bonds instead of 2</li>
<li>%G == %C</li>
</ul></li>
<li>10 bp / turn
<ul>
<li>0.34 nm / bp</li>
</ul></li>
<li>Semi-conservative replication <br></br></li>
</ul></li>
<li>DNA polymerases
<ul>
<li>Needs:
<ul>
<li>DNA template</li>
<li>Free dNTPs</li>
<li>primer</li>
</ul></li>
<li>Always runs 5'-&gt;3'</li>
<li>Energy for synthesis comes from hydrolysis of 2 PO<sub>4</sub>
<ul>
<li>Releases PP<sub>i</sub></li>
</ul></li>
</ul></li>
</ul>
<pre><code>Pol     Synthesis   3-5 exo     5-3 exo Processivity    Function
I       Yes         Yes         Yes     Low             Replication &amp; Repair
II      Yes         Yes         No                      Repair
III     Yes         Yes         No      High            Replication</code></pre>
<h2 id="dna-replication">DNA Replication</h2>
<ul>
<li><strong>Helicase</strong>
<ul>
<li>Unwinds DNA</li>
<li>Creates ss regions</li>
</ul></li>
<li><strong>Single strand binding proteins (SSB)</strong>
<ul>
<li>Bind and stabilize ssDNA</li>
</ul></li>
<li><strong>Primase</strong>
<ul>
<li>Synthesizes short RNA primer so 3'OH available for extension</li>
</ul></li>
<li><strong>DNA Pol III</strong>
<ul>
<li>Synthesizes DNA from primer 3'OH</li>
<li>Falls off when it encounters an RNA primer</li>
</ul></li>
<li><strong>DNA Pol I</strong>
<ul>
<li>5'-3' exonuclease activity removes primers and replaces with DNA</li>
</ul></li>
<li><strong>DNA ligase</strong>
<ul>
<li>Patches gaps between Okasaki fragments</li>
</ul></li>
</ul>
<h1 id="nov-14">Nov 14</h1>
<h2 id="transcription-in-prokaryotes">Transcription in Prokaryotes</h2>
<ul>
<li><strong>Initiation</strong>
<ul>
<li>Consensus sequences at -10 (TATAAT) and -35 (TTGACA) bind RNA pol and sigma factor</li>
<li>Transcription initiates at +1</li>
<li>5'-3' <br></br></li>
</ul></li>
<li><strong>Elongation</strong>
<ul>
<li>Sigma factor is released</li>
<li>40 nucleotides per sec <br></br></li>
</ul></li>
<li><strong>Termination</strong>
<ul>
<li>Two types of termination
<ul>
<li>Intrinsic (Rho-independent)
<ul>
<li>GC Hairpin in transcript followed by poly-U dissociates RNA pol</li>
</ul></li>
<li>Rho-dependent
<ul>
<li>Requires rho helicase</li>
<li>Rho binds C-riich terminator sequence
<ul>
<li>Unwinds DNA-RNA hybrid</li>
<li>RNA pol pauses and dissociates<br /><br></br></li>
</ul></li>
</ul></li>
</ul></li>
</ul></li>
<li><em>E. coli</em> RNA polymerase
<ul>
<li>Makes all types of RNA</li>
<li>Complex of core enzyme, sigma factor (required for initiation)</li>
</ul></li>
</ul>
<h2 id="transcription-in-eukaryotes">Transcription in Eukaryotes</h2>
<ul>
<li>Transcription takes place in nucleus
<ul>
<li>Translation in cytoplasm <br></br></li>
</ul></li>
<li>RNA polymerases
<ul>
<li>RNA Pol I makes rRNA</li>
<li>RNA Pol II makes mRNA</li>
<li>RNA Pol III makes tRNA <br></br></li>
</ul></li>
<li>Promoter is -30 (TATA box)
<ul>
<li>bound by general transcription factors, then RNA Pol II</li>
<li>Sufficient for low level transcription</li>
<li><strong>Enhancer</strong> sequences may be bound by activator proteins to upregulate</li>
<li><strong>Silencer</strong> sequences may bind repressor protein for downregulation <br></br></li>
</ul></li>
<li>RNA processing
<ul>
<li>Addition of 5' cap
<ul>
<li>Protects mRNA from degradation</li>
<li>Finds ribosome to initiate translation</li>
<li>Occurs when transcript is 20-30 nt long</li>
<li>7-methyl-1-guanosine (m<sup>7</sup>G) <br></br></li>
</ul></li>
<li>Addition of poly-A 3' tail
<ul>
<li>Regulates message stability and export</li>
<li>Sequence AAUAAA signals RNase to cut 10-30 nt later-</li>
<li>Poly-A polymerase adds 50-250 As to 3' end</li>
</ul></li>
<li>Splicing
<ul>
<li>Introns are removed
<ul>
<li>Usually flanked by GU and AG</li>
</ul></li>
<li>Mechanism 1
<ul>
<li>5' cleavage leads to formation of &quot;lariat&quot;</li>
<li>Branch point has unusual 2'-5' linkage</li>
<li>3' intron cleavage</li>
<li>Exon ligation</li>
</ul></li>
</ul></li>
</ul></li>
</ul>
<h2 id="translation">Translation</h2>
<pre><code>Amino acids:

       R
       |
H3N -- C -- COO-</code></pre>
<ul>
<li>Four groups
<ul>
<li>Acidic (Asp, Glu)</li>
<li>Basic (Lys, Arg)</li>
<li>Polar (Ser)(-OH)</li>
<li>Non-polar (Ala)(-CH<sub>3</sub>)</li>
</ul></li>
<li>Protein Structure
<ul>
<li>Primary Structure
<ul>
<li>Linear amino acid sequence</li>
</ul></li>
<li>Secondary Structure
<ul>
<li>3D structural motif
<ul>
<li>Alpha helices</li>
<li>Beta Sheets</li>
</ul></li>
</ul></li>
<li>Tertiary Structure
<ul>
<li>Overall shape due to folding</li>
</ul></li>
<li>Quaternary Structure
<ul>
<li>Protein complexes</li>
</ul></li>
</ul></li>
</ul>
<h1 id="nov-21">Nov 21</h1>
<h2 id="restriction-enzymes">Restriction Enzymes</h2>
<ul>
<li><p>Endonucleases that cut dsDNA at specific sequences</p></li>
<li>Primarily bacterial in origin
<ul>
<li>Protect genome from bacteriophages</li>
<li>Guided by methylation</li>
</ul></li>
<li>Name is derived from source organism
<ul>
<li>e.g. EcoRI is from <em>E. coli</em>, strain <strong>R</strong>413, first to be found there</li>
</ul></li>
<li>Site often has 2-fold symmetry
<ul>
<li>same on both strands</li>
</ul></li>
</ul>
<pre><code>5&#39;-GAATTC-3&#39;
3&#39;-CTTAAG-5&#39; </code></pre>
<ul>
<li>Probability of a specific base raised to the power of site length
<ul>
<li>(1/4)<sup>length</sup></li>
<li>Calculation assumes equal abundance of all four bases
<ul>
<li>i.e. GC = 50%</li>
</ul></li>
<li>Adjust probabilities for GC content
<ul>
<li>e.g. If GC = 60%, GAATTC is (0.3)<sup>2</sup>(0.2)<sup>4</sup></li>
</ul></li>
</ul></li>
<li><p>Cut ends can be blunt or sticky</p></li>
<li>Restriction mapping
<ul>
<li>Digest DNA with restriction enzymes</li>
<li>Visualize by gel electrophoresis
<ul>
<li>DNA is negative, moves toward the positive electrode</li>
<li>Agarose is like seive
<ul>
<li>Small fragments move fastest</li>
</ul></li>
<li>Intercalating dye (EtBr or SYBR Green)</li>
</ul></li>
</ul></li>
<li>Cloning Recombinant DNA
<ul>
<li>Cut gene of interest with restriction enzyme</li>
<li>Cut recipient DNA with restrition enzyme
<ul>
<li>Usually a cloning vector</li>
</ul></li>
<li>Use DNA ligase to join sticky ends
<ul>
<li>Works with blunt ends as well, but is less efficient</li>
</ul></li>
<li>Transform into competent host cells
<ul>
<li>Use selection protocol to select for recombinants <br></br></li>
</ul></li>
</ul></li>
<li>Cloning vectors
<ul>
<li>Plasmids
<ul>
<li>Smallest and most used</li>
<li>Circular dsDNA</li>
<li>Replicate independently of chromosome</li>
<li>Have defined <em>ori</em> sequence</li>
<li>Use dominant selectable marker like AMR gene</li>
<li>Polylinker is located in middle of gene like LacZ
<ul>
<li>Insertion interupts LacZ
<ul>
<li>LacZ in presence of X-gal produce blue colonies</li>
<li>LacZ<sup>-</sup> will produce white colonies</li>
</ul></li>
<li>Cells which are LacZ<sup>-</sup> and resistant were successful transformants</li>
</ul></li>
</ul></li>
<li>BAC</li>
<li>YAC</li>
<li>Cosmid</li>
</ul></li>
</ul>
