<h1 id="sept-6">Sept 6</h1>
<h2 id="introduction-to-mathematical-concepts">Introduction to Mathematical Concepts</h2>
<p>Representation of Physical Quantities</p>
<ul>
<li>Algebraic product of a number and a unit</li>
<li>Units combine algebraically</li>
<li>Course covers 5 of 7 SI fundamental units
<ul>
<li><strong>time</strong> = seconds (s) -&gt; 9192631770 cycles in Cs-133 nucleus</li>
<li><strong>distance</strong> = metre (m) -&gt; distance travelled by light in a vacuum in 1/299797458 s</li>
<li><strong>mass</strong> = kilogram (kg) -&gt; mass of platinum/iridium artifact in a Parisian vault</li>
<li><strong>mole</strong> (mol) -&gt; the number of C-12 atoms in 12 g of C-12</li>
<li><strong>temperature</strong> = kelvin (K) -&gt; defined such that the triple point of water is 273.16 K</li>
</ul></li>
</ul>
<h1 id="sept-11">Sept 11</h1>
<ul>
<li>Two vectors joined tip-to-tail gives resultant vector R</li>
<li>Easier is to add component vectors of each vector to get R</li>
<li>Vector can be expressed as:
<ul>
<li>Magnitude and angle</li>
<li>Components</li>
<li>Convert between the two by Pythagoras Theorem</li>
</ul></li>
</ul>
<h2 id="kinematics">Kinematics</h2>
<ul>
<li>In a medium devoid of resistance, all bodies fall at the same speed</li>
<li>During equal time intervals, a falling object receives equal increases in speed</li>
<li>Complete description gives position as a function of time</li>
</ul>
<h1 id="sept-13">Sept 13</h1>
<ul>
<li>Constant acceleration forms a linear graph</li>
<li>Changing velocity forms a curve</li>
<li>Negative acceleration could, but does not necessarily mean you are slowing down
<ul>
<li>Could mean acceleration is increasing in the negative direction</li>
</ul></li>
<li>Constant acceleration
<ul>
<li>v = v0 +at</li>
</ul></li>
<li>Position
<ul>
<li>delta-x = v0t + 1/2(v-v0)t</li>
<li>delta-x = v0t + 1/2at^2</li>
<li>x = x0 + v0t + 1/2at^2</li>
</ul></li>
</ul>
<h1 id="sept-25">Sept 25</h1>
<h2 id="force-and-gravity">Force and Gravity</h2>
<ul>
<li><p>F = ma</p></li>
<li>Galileo
<ul>
<li>inertia (horizontal motion)</li>
<li>constant acceleration (vertical motion) <br></br></li>
</ul></li>
<li>Descartes &amp; Huygens
<ul>
<li>Conservation of momentum (mass * velocity = constant) <br></br></li>
</ul></li>
<li>Kepler &amp; Braha
<ul>
<li>Laws of planetary motion <br></br></li>
</ul></li>
<li><strong>Newton's First Law</strong>
<ul>
<li>A free object moves with constant velocity</li>
<li>Inertial reference frame
<ul>
<li>Anything without a force acting upon it</li>
</ul></li>
</ul></li>
<li><strong>Newton's Second Law</strong>
<ul>
<li>F = ma</li>
<li>Mass
<ul>
<li>Quantity of matter (determined by a balance)</li>
<li>Quantity that resists acceleration (inertial mass)
<ul>
<li>Inversely related to acceleration if force is equal</li>
</ul></li>
</ul></li>
<li>Force
<ul>
<li>Push or Pull</li>
<li>Disturbs natural state
<ul>
<li>Causes acceleration</li>
</ul></li>
<li>Proportional to acceleration</li>
</ul></li>
</ul></li>
</ul>
<h1 id="oct-2">Oct 2</h1>
<ul>
<li>Tension
<ul>
<li>Force exerted by rope</li>
<li>for an ideal line, the same force is exerted at both ends</li>
<li>objects connected by a taut line have same acceleration</li>
</ul></li>
<li>Pulley
<ul>
<li>changes direction of force</li>
<li>Must be taut</li>
<li>Simplify problem by reducing to one-dimensional problem</li>
</ul></li>
</ul>
<h2 id="equilibrium-applications">Equilibrium applications</h2>
<ul>
<li>Equilibrium means zero acceleration</li>
<li>Balance forces in x and y directions</li>
<li>Non-equilibrium means non-zero acceleration</li>
</ul>
<h1 id="oct-7">Oct 7</h1>
<ul>
<li>Satellites in circular orbit
<ul>
<li>Speed and radius
<ul>
<li>F = mv<sup>2</sup>/r</li>
</ul></li>
</ul></li>
<li>Synchronous orbit
<ul>
<li>Satellite is stationary over a point on Earth's surface</li>
<li>Only possible with an equatorial orbit</li>
<li>Conditions:
<ul>
<li>T = 1 sidereal day
<ul>
<li>For Earth, 24h - 4m</li>
</ul></li>
<li>Above equator</li>
<li>r<sup>2/3</sup> = T<em>sqrt(GM<sub>E</sub>)/2</em>pi</li>
</ul></li>
</ul></li>
<li>Centrifugal force and artificial gravity</li>
</ul>
<h1 id="oct-9">Oct 9</h1>
<ul>
<li>Conversvation of momentum
<ul>
<li>p = mv</li>
<li>kg m/s</li>
</ul></li>
<li><p>Work is change in energy by application of a force over a distance</p></li>
<li><p>1 N m = 1 Joule</p></li>
<li><p>W = Fs = Fs*cos(theta)</p></li>
<li><p>W = delta-KE</p></li>
<li><p>KE = 1/2mv<sup>2</sup></p></li>
</ul>
<h1 id="oct-18">Oct 18</h1>
<ul>
<li>Energy is neither created or destoryed
<ul>
<li>Mechanical</li>
<li>Heat</li>
<li>Chemical</li>
<li>Electrical</li>
<li>Nuclear</li>
</ul></li>
<li><p>v<sup>2</sup> = 2gh</p></li>
<li>Constant force J = F * delta-t
<ul>
<li>Delta-p = J</li>
</ul></li>
<li>Total internal forces on a system are zero
<ul>
<li>F = delta-P/delta-t</li>
</ul></li>
</ul>
<h1 id="oct-21">Oct 21</h1>
<ul>
<li>Completely inelastic collision
<ul>
<li>v1 = v2 = v'</li>
</ul></li>
<li>Completely elastic collision
<ul>
<li>KE<sub>i</sub> = KE<sub>f</sub></li>
<li>If m1 &gt;&gt; m2, v<sub>m2</sub> = 2*v<sub>m1</sub> + v<sub>m2</sub></li>
</ul></li>
</ul>
<h1 id="oct-28">Oct 28</h1>
<ul>
<li><p>Rotational kinematics</p></li>
<li>Angular displacement
<ul>
<li>Angle swept out by a line intersecting and perpendicular to the axis of rotation</li>
<li>Tangential speed
<ul>
<li>v<sub>t</sub> = r * (2 * pi)/T</li>
</ul></li>
</ul></li>
</ul>
